// Sass
@import "../../../styles/variables";

.SwitchMode {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 0;
  background: $primary-color;
  color: white;
  font-size: 2rem;
  z-index: 500;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  box-shadow: 0px 2px 3px #333333;
}
.SwitchMode:focus {
  background: $primary-color !important;
}
